<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>会员管理</title>
    <meta name="description" content="Dynamic tables and grids using jqGrid plugin"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="/assets/css/ui.jqgrid.min.css"/>
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css"/>
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" href="/assets/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="/assets/css/ace-ie.min.css"/>
    <link rel="stylesheet" href="/assets/css/bootoast.css">
    <script src="/assets/js/ace-extra.min.js"></script>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="javascript:void(0)" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    会员管理
                </small>
            </a>
        </div>

    </div><!-- /.navbar-container -->
</div>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
    /*<![CDATA[*/
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
        /*]]>*/
    </script>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-cubes"></i>
                        <a href="#">会员管理</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div style="margin-top: 20px">
                            <form>
                            </form>
                        </div>

                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  /*<![CDATA[*/
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    /*]]>*/
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.jqGrid.min.js"></script>
<script src="/assets/js/grid.locale-cn.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/assets/js/bootoast.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
   var token=  [[${token != null }?${token}]];
    $('.input-daterange').datepicker({autoclose: true, language: 'cn'});
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    $.fn.serializeJSON = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    jQuery(function ($) {
        var parent_column = $(grid_selector).closest('[class*="col-"]');
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid('setGridWidth', parent_column.width());
        })
        $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                setTimeout(function () {
                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                }, 20);
            }
        })
        jQuery(grid_selector).jqGrid({
            url: "/manager/search"+"?token="+token,
            editurl: "/manager/update"+"?token="+token,
            mtype: "post",
            datatype: "json",

            subGrid: false,
            //subGridModel: [{ name : ['No','Item Name','Qty'], width : [55,200,80] }],
            //datatype: "xml",
            subGridOptions: {
                plusicon: "ace-icon fa fa-plus center bigger-110 blue",
                minusicon: "ace-icon fa fa-minus center bigger-110 blue",
                openicon: "ace-icon fa fa-chevron-right center orange"
            },
            multiSort: true,
            subGridRowExpanded: function (subgridDivId, rowId) {
                var subgridTableId = subgridDivId + "_t";
                $("#" + subgridDivId).html("<table id='" + subgridTableId + "'></table>");
                $("#" + subgridTableId).jqGrid({
                    datatype: 'local',
                    data: subgrid_data,
                    colNames: ['No', 'Item Name', 'Qty'],
                    colModel: [
                        {name: 'id', width: 50},
                        {name: 'name', width: 150},
                        {name: 'qty', width: 50}
                    ]
                });
            },
            jsonReader: {//分页的关键
                root: "msg.data",
                total: "msg.totalPages",
                // page: "",
                records: "msg.totalElements",
                repeatitems: false
            },
            height: 400,
            ajaxRowOptions: {contentType: "application/json", dataType: "json"},
            serializeRowData: function (data) {
                return JSON.stringify(data);
            },
            ajaxGridOptions: {contentType: 'application/json; charset=utf-8'},
            serializeGridData: function (postData) {
                if (postData.searchField === undefined) postData.searchField = null;
                if (postData.searchString === undefined) postData.searchString = null;
                if (postData.searchOper === undefined) postData.searchOper = null;
                return JSON.stringify(postData);
            },
            prmNames: {
                page: "page",
                rows: "rows",
                sort: "sidx",
                order: "sord",
                search: "search",
                filters: "filters"
            },
            colNames: [' ', '编号', '姓名', '单位', '手机号码', '缴费截至年份', '会员号', '创建时间', '更新时间', '状态'],
            colModel: [
                {
                    name: 'myac', index: '', width: 70, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delbutton: false,//disable delete button
                        delOptions: {recreateForm: true, beforeShowForm: beforeDeleteCallback},
                        //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                    },
                    search: false
                },
                {name: 'id', index: 'id', width: 50, sorttype: "int", editable: true, search:true,  searchoptions: {sopt: ["eq"]}},
                {
                    name: 'name',
                    index: 'name',
                    width: 50,
                    editable: true,
                    search: true,
                    searchoptions: {sopt: ["eq"]}
                },
                {
                    name: 'company',
                    index: 'company',
                    width: 150,
                    editable: true,
                    search: true,
                    searchoptions: {sopt: ["eq"]}
                },
                {
                    name: 'telephone',
                    index: 'telephone',
                    width: 55,
                    editable: true,
                    search: true,
                    searchoptions: {sopt: ["eq"]}
                },
                {name: 'endYear', index: 'endYear', width: 60, editable: true, searchoptions: {sopt: ["eq","lt"]}},
                {name: 'memberNo', index: 'memberNo', width: 100, editable: true, searchoptions: {sopt: ["eq"]}},
                {
                    name: 'createdAt',
                    index: 'createdAt',
                    width: 70,
                    editable: false,
                    search: false
                },
                {
                    name: 'updatedAt',
                    index: 'updatedAt',
                    width: 70,
                    editable: false,
                    search: false
                },
                {
                    name: 'status',
                    index: 'status',
                    width: 60,
                    editable: true,
                    searchoptions: {sopt: ["eq"], value: "0:正常;-1:已删除"},
                    search: true,
                    formatter: displayFormat,
                    stype: "select",
                    edittype: "select",
                    editoptions: {value: "0:正常;-1:已删除"},
                },
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            multiselect: true,
            multiboxonly: true,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            },
            caption: "会员管理"
        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size
        function aceSwitch(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=checkbox]')
                    .addClass('ace ace-switch ace-switch-5')
                    .after('<span class="lbl"></span>');
            }, 0);
        }

        function pickDate(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=text]')
                    .datepicker({format: 'yyyy-mm-dd hh:mm:ss', autoclose: true});
            }, 0);
        }

        function displayFormat(cellvalue, options, rowObject) {
            if (cellvalue === 0 || cellvalue === "0" || cellvalue === "正常" || cellvalue === "<a style=\"color:#0726ff\">正常</a>") {
                return "<a style=\"color:#0726ff\">正常</a>"
            }
            else if (cellvalue === -1 || cellvalue == "-1" || cellvalue === "已删除" || cellvalue === "<a style=\"color:#ff293c\">已删除</a>") {
                return "<a style=\"color:#ff293c\">已删除</a>"
            }
            return "未知";
        }

        jQuery(grid_selector).jqGrid('navGrid', pager_selector,
            { 	//navbar options
                edit: false,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: false,
                delicon: 'ace-icon fa fa-trash-o red',
                search: true,
                searchicon: 'ace-icon fa fa-search orange',
                refresh: true,
                refreshicon: 'ace-icon fa fa-refresh green',
                view: true,
                viewicon: 'ace-icon fa fa-search-plus grey',
            },
            {
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                }
            },
            {
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_add_form(form);

                },
                afterShowForm: function (e) {
                    $("#sData").unbind('click');
                    var form = $(e[0]);
                    $("#sData").bind('click', function () {
                        var json = $(e).serializeJSON();
                        $.ajax({
                            url: "/manager/add"+"?token="+token,
                            contentType: "application/json",
                            type: 'POST',
                            data: JSON.stringify(json),
                            dataType: 'json',
                            beforeSend: function () {
                                console.log("正在获取信息，请稍候");
                            },
                            success: function (data) {
                                if (data.status == "success") {
                                    console.log("创建成功..");
                                    bootoast({
                                        "message": "创建成功",
                                        "type": "success",
                                        "position": "bottom-right",
                                        "icon": "",
                                        "timeout": 2,
                                        "animationDuration": "300",
                                        "dismissable": false
                                    });
                                    // alert("创建成功！");
                                } else {
                                    bootoast({
                                        "message": "创建失败！请重新创建",
                                        "type": "danger",
                                        "position": "bottom-right",
                                        "icon": "",
                                        "timeout": 2,
                                        "animationDuration": "300",
                                        "dismissable": false
                                    });
                                    console.log("创建失败");
                                }
                                $('#editmodgrid-table').remove();
                                $(".ui-widget-overlay").remove();
                            },
                            error: function (msg) {
                                bootoast({
                                    "message": "创建失败！请重新创建",
                                    "type": "danger",
                                    "position": "bottom-right",
                                    "icon": "",
                                    "timeout": 2,
                                    "animationDuration": "300",
                                    "dismissable": false
                                });
                                $('#editmodgrid-table').remove();
                                $(".ui-widget-overlay").remove();
                            }
                        })
                    })
                }

            },
            {
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                },
                onClick: function (e) {
                    //alert(1);
                }
            },
            {
                recreateForm: true,
                afterShowSearch: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    style_search_form(form);
                },
                afterRedraw: function () {
                    style_search_filters($(this));
                }
                ,
                multipleSearch: true,
                autoSearch: false,
                groupOps: [{op: "AND", text: "满足所有条件"}],
                closeAfterSearch: true,
            },
            {
                //view record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                }
            }
        );

        function style_add_form(form) {
            form.find('input[name=createdAt]').datepicker({format: 'yyyy-mm-dd', autoclose: true})
            form.find('input[name=isShowed]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
            buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')
            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').hide();
            buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
            buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');

        }

        function style_edit_form(form) {
            form.find('input[name=createdAt]').datepicker({format: 'yyyy-mm-dd', autoclose: true})
            form.find('input[name=isShowed]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
            buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')
            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').hide();
            buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
            buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
        }

        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
            buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
        }

        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-xs btn-primary');
            form.find('.add-group').addClass('btn btn-xs btn-success');
            form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }

        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
        }

        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if (form.data('styled')) return false;
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);
            form.data('styled', true);
        }

        function beforeEditCallback(e) {
            var form = $(e[0]);
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_edit_form(form);
        }

        function styleCheckbox(table) {
        }

        function updateActionIcons(table) {
        }

        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({container: 'body'});
            $(table).find('.ui-pg-div').tooltip({container: 'body'});
        }

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_selector);
            $('.ui-jqdialog').remove();
        });
    });
    /*]]>*/
</script>
</body>
</html>
